@layer components {
  .root[open] {
    border: 0;
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
  }

  .root::backdrop {
    opacity: 0.5;
    background-color: var(--color-backdrop);
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    overflow-wrap: break-word;
    white-space: pre-line;
  }

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-16);
    text-wrap: wrap;
  }

  .title-container {
    display: flex;
    gap: var(--space-1);
    align-items: end;
  }

  .title-container svg {
    width: var(--space-5);
    height: var(--space-5);
  }

  .actions-container {
    display: flex;
    gap: var(--space-4);
    justify-content: flex-end;
  }

  @media (max-width: 420px) {
    .top-container {
      gap: 0;
    }
  }
}
