@layer components {
  .loader {
    /* border: var(--border-width-thick) solid var(--color-brand-primary);
    border-width: var(--border-width-thick);
    border-style: solid;
    border-bottom-color: transparent;
    border-radius: var(--radius-full);
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite; */
    border: var(--border-width-thick) solid var(--color-blue-300);
    border-bottom-color: var(--color-brand-primary);
    border-radius: var(--radius-full);
    display: block;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .sm {
    width: var(--space-5);
    height: var(--space-5);
  }

  .md {
    width: var(--space-10);
    height: var(--space-10);
  }

  .lg {
    width: var(--space-20);
    height: var(--space-20);
  }
}
