@layer components {
  .root {
    height: fit-content;
    position: relative;
    /* margin: auto; */
  }

  .opener {
    display: inline-block;
  }

  .menu {
    background-color: var(--color-bg-surface-2);
    /* background-color: var(--color-bg-surface-1); */
    border-radius: var(--radius-md);
    /* box-shadow: 0px 0px 7px -1px #cccccc; */
    display: none;
    height: fit-content;
    margin: 0;
    padding: var(--space-2);
    position: absolute;
    top: calc(100% + 8px);
    z-index: 10;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 100ms;
    transition-behavior: allow-discrete;

    @starting-style {
      opacity: 0;
    }
  }

  .menu.align-start {
    inset-inline-start: 0;
  }
  .menu.align-end {
    inset-inline-end: 0;
  }

  .menu-item {
    background-color: var(--color-bg-surface-2);
    border: 0;
    border-radius: var(--radius-md);
    color: var(--color-text);
    cursor: pointer;
    padding: var(--space-2);
    text-align: start;
    text-wrap: nowrap;
    white-space: nowrap;
    font-size: var(--font-size-sm);

    &:hover {
      background-color: var(--color-primary-contrast);
    }

    > a {
      text-decoration: none;
      display: inline;
      align-items: center;
      color: var(--color-text);
    }
  }
}
