@layer components {
  .root {
    height: fit-content;
    position: relative;
    margin: auto;
  }

  .opener {
    display: inline-block;
  }

  .menu {
    background-color: white;
    border-radius: var(--radius-md);
    box-shadow: 0px 0px 7px -1px #cccccc;
    display: none;
    height: fit-content;
    margin: 0;
    padding: var(--space-2);
    position: absolute;
    top: calc(100% + 8px);
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 100ms;
    transition-behavior: allow-discrete;

    @starting-style {
      opacity: 0;
    }
  }

  .menu.align-start {
    inset-inline-start: 0;
  }
  .menu.align-end {
    inset-inline-end: 0;
  }

  .menu-item {
    background-color: white;
    border: 0;
    border-radius: var(--radius-md);
    color: var(--color-text);
    cursor: pointer;
    padding: var(--space-2);
    text-align: start;
    text-wrap: nowrap;
    &:hover {
      background-color: var(--color-blue-200);
    }
  }
}
