@layer components {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-4);
  }

  .table-container {
    max-width: 100%;
    overflow-x: auto;
    scrollbar-color: var(--color-brand-primary) var(--color-bg-surface-1);
  }
}
