@layer components {
  .header-root {
    background-color: var(--color-bg-surface-1);
    display: flex;
    align-items: center;
    height: 64px;
    padding: var(--space-2);
    width: 100%;
    transition: var(--color-transition);
  }
}
