@layer components {
  * {
    transition: var(--color-transition);
  }

  table {
    border: var(--border-width-thin) solid var(--color-border);
    border-radius: var(--radius-md);
    border-spacing: 0;
    max-width: max-content;
    width: max-content;
    font-variant-numeric: lining-nums tabular-nums;
    table-layout: fixed;
  }

  tbody {
    white-space: nowrap;
  }

  thead > tr {
    color: var(--color-text);
    cursor: default;
  }

  thead > tr > th {
    /* background-color: var(--color-bg-surface-1); */
    padding-top: var(--space-3);
    padding-bottom: var(--space-1);
    padding-left: var(--space-12);
    padding-right: var(--space-12);
    text-align: start;
    vertical-align: bottom;
    /* font-weight: normal; */
  }

  thead > tr > th:first-child {
    border-top-left-radius: var(--radius-md);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  thead > tr > th:last-child {
    border-top-right-radius: var(--radius-md);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  tbody > tr > td {
    border-bottom: var(--border-width-thin) solid var(--color-border);
    cursor: pointer;
    padding: var(--space-3) var(--space-12);
  }

  tbody tr {
    background-color: transparent;
    color: var(--color-text);
    transition: var(--color-transition);
  }

  tbody tr:nth-child(odd) {
    background-color: var(--color-bg-surface-1);
  }

  tbody > tr > td:first-child {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  tbody > tr > td:last-child {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  tbody > tr:last-child > td {
    border-bottom: 0;
  }

  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }
}
