@layer components {
  .error {
    border: 1px solid var(--color-danger) !important;
  }

  .default_input {
    border: 1px solid var(--color-border);
    /* border: 1px solid var(--color-blue-400); */
    border-radius: var(--radius-md);
    /* color: var(--text); */
    padding: var(--space-3);
    font-size: var(--font-size-md);
    box-shadow: 0px 0px 1px 0px #cecece;
    &:focus {
      outline: 1px solid var(--color-input-focus);
    }
  }

  /* Range Input Styles */
  .range_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }

  /* WebKit, Blink (Chrome, Opera, Safari) */
  .range_input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: var(--color-brand-primary);
    border: 0;
    border-radius: var(--radius-full);
    height: var(--space-6);
    margin-top: calc(var(--space-1) * -1);
    width: var(--space-6);
  }

  .range_input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: var(--color-brand-primary);
    border-radius: var(--radius-2xl);
    cursor: pointer;
    height: var(--space-3);
    width: 100%;
  }

  /* Firefox */
  .range_input::-moz-range-thumb {
    background: var(--color-brand-primary);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: var(--space-6);
    width: var(--space-6);
  }

  .range_input::-moz-range-track {
    background: var(--color-brand-primary);
    border-radius: var(--radius-2xl);
    cursor: pointer;
    height: var(--space-3);
    width: 100%;
  }

  /* Internet Explorer */
  .range_input::-ms-thumb {
    background: var(--color-brand-primary);
    border: 0;
    border-radius: var(--radius-full);
    cursor: pointer;
    height: var(--space-6);
    width: var(--space-6);
  }

  .range_input::-ms-track {
    background: var(--color-brand-primary);
    border-radius: var(--radius-2xl);
    cursor: pointer;
    height: var(--space-3);
    width: 100%;
  }

  .file_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }

  .file_input::file-selector-button {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    color: var(--color-brand-primary);
    cursor: pointer;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    padding: var(--space-1) var(--space-2);
  }

  @supports (-moz-appearance: none) {
    .file_input::file-selector-button {
      color: var(--color-brand-primary);
    }
  }

  .checkbox_input,
  .radio_input {
    accent-color: var(--color-brand-primary);
  }
}
