@layer components {
  .root {
    /* background-color: var(--color-white); */
    padding: 0;
    margin: 0;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    padding: var(--space-3);
  }
}
