@layer components {
  .root {
    margin: 0;
  }

  .description {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
    color: var(--color-gray-600);
  }

  .body {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
  }

  .heading {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
  }

  .heading2 {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
  }

  .heading3 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
  }

  .heading4 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
  }

  .error {
    color: var(--color-danger);
  }
}
